<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" stderr="true" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./demos</directory>
      <directory suffix=".php">./tests</directory>
      <directory suffix=".php">./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PHPDocToRst-V1">
      <file>./tests/DocGenerationTest.php</file>
    </testsuite>
    <testsuite name="PHPDocToRst-V2">
      <directory>./tests/</directory>
      <exclude>./tests/DocGenerationTest.php</exclude>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
